@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #1654ff 0%, #000758 100%);
}

.centrar{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    color: antiquewhite;
    background-color: #0D1B2A;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

.text{
    height: 50px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
}

#temporizador{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    text-shadow: -1px 0px 15px rgba(0,0,0,0.25);
    color: lightgray;
    height: 150px;
    width: 100%;
    margin: 10%;
}

.number {
    display: inline-block;
    width: 140px;
    font-size: 128px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: -1px 0px 15px rgba(37, 27, 27, 0.25);
    border: none;
    color: lightgray;
    background-color: transparent;
}

button{
    font-size: 30px;
    background-color: #0D1B2A;
    border: none;
    color: antiquewhite;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#buttons{
    margin-bottom: 5%;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}
